.headerContent{
    display: flex;
    justify-content: center;
}
.appLogo {
    width: 40vw ;
}
.mainContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(121, 116, 116);
}